!**/src/**

### Gradle ###
.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Frontend ###
target
build
node/
node_modules
npm-debug.log
logs/
out/
package-lock.json
yarn.lock
yarn-error.log

# react-generated
/src/main/resources/static/
/database
