html, body  {
    height: 100%;
    width: 100%;
}

.content {
    min-height: calc(100vh - 76px - 59px);
}

.primary-bg {
    background-color: var(--app-primary-color);
}

.breadcrumb {
    background-color: transparent;
}

.active {
    color: var(--app-primary-color)
}