html, body {
    height: 100%;
    width: 100%;
}

.content {
    min-height: calc(100vh - 76px - 59px);
}

.app-header {
    background-color: var(--app-primary-color);
    width: 100%;
}

.app-header .navbar-brand {
    cursor: pointer;
}

.app-header img {
    height: 50px;
    width: 50px;
}

.app-footer {
    background-color: gray;
    width: 100%;
}

.app-footer .navbar-brand {
    cursor: pointer;
}

.app-footer img {
    height: 30px;
    width: 30px;
}

.breadcrumb {
    background-color: transparent;
}

.active-page {
    color: var(--app-secondary-color)
}