:root {
    --app-primary-color: #3382FF;
    --app-secondary-color: #FF49E9;
    --droppable-ready-color: cyan;
    --jumbotron-bg: #e9ecef;
    --over-unit: azure;
    --marked-unit: #FF999B;
    --attack-unit: #FF4632;
    --picked-unit: #5AFFAC;
}

.unitLogo{
    width: 165px;
    height: 80px;
    border-style: double;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unitLogo:hover{
    cursor: pointer;
}

.warriorLogo{
    border-color: blue;
    background-color: rgba(78,100,255,0.49)
}

.mageLogo{
    border-color: red;
    background-color: rgba(255,45,20,0.49);
}

.archerLogo{
    border-color: green;
    background-color: rgba(95,255,65,0.49);
}

.squadPlace {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.squadPlaceReverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

/*dnd*/
.justForLearning{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: magenta;

}

.dragHeroPool {
    background-color: azure;
    border-color: aqua;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: 180px;
    height: 300px;
    text-align: center;
    align-content: center;
}